<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--修改namespace 的dao  和 type的实体类名称 及映射关系-->
<mapper namespace="domain.dao.impl.ExhibitionDao">
    <resultMap id="BaseResultMap" type="domain.domain.Exhibition">
        <id column="exhibition_name" property="exhibitionName"/>

    </resultMap>

    <!-- 定义字段 -->
    <sql id="Base_Column_List">
        `exhibition_name`, `state`
    </sql>
    <!-- 定义表名 -->
    <sql id="tableName">exhibition</sql>
    <!-- 定义主键 -->
    <sql id="keyId">exhibition_name</sql>
    <!-- 定义实体主键-->
    <sql id="objKeyId">exhibitionName</sql>


    <!-- 新增 -->
    <!--parameterType 实体类名  keyProperty 映射主键-->
    <insert id="insert" parameterType="domain.domain.Exhibition" useGeneratedKeys="true"
            keyProperty="exhibitionName">
        insert into <include refid="tableName" /> (`exhibition_name`, `state`)
        values (#{exhibitionName},#{state})
    </insert>
    <!--修改-->
    <!--parameterType 实体类名  -->
    <update id="update" parameterType="domain.domain.Exhibition" >
        UPDATE
        <include refid="tableName" />
        <set>
            <if test="state != null">state = #{state},</if>
        </set>
        WHERE
        <include refid="keyId" /> = #{<include refid="objKeyId" />}
    </update>


    <!--删除-->
    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
        <include refid="tableName" />
        WHERE
        <include refid="keyId" /> =#{_parameter} LIMIT 1
    </delete>
    <!--查询单条记录-->
    <select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        from <include refid="tableName" />
        where <include refid="keyId" /> = #{_parameter}
    </select>

    <!--查询多条-->
    <select id="getList" resultMap="BaseResultMap" >
        select
        <!--判断是否有field字段-->
        <choose>
            <when test="field != null">
                ${field}
            </when>
            <otherwise>
                *
            </otherwise>
        </choose>
        from <include refid="tableName" />
        <where>
            <!--判断是否是equals-->
            <if test="equals!=null">
                and
                <!--open 表示起始符,separator 表示连接符,close 表示闭合符-->
                <foreach item="item" index="index" collection="equals" open="" separator="and" close="">
                    ${index} = #{item}
                </foreach>
            </if>
            <!--判断是否是noEquals-->
            <if test="noEquals!=null">
                and
                <!--open 表示起始符,separator 表示连接符,close 表示闭合符-->
                <foreach item="itemNo" index="indexNo" collection="noEquals" open="" separator="and" close="">
                    ${indexNo} <![CDATA[<>]]> #{itemNo}
                </foreach>
            </if>
            <!--判断是否是whereIn-->
            <if test="whereIn!=null">
                and <include refid="keyId" /> in
                <foreach item="item" index="index" collection="whereIn" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--判断是否有符号查询-->
            <if test="symbol!=null">
                and
                <!--open 表示起始符,separator 表示连接符,close 表示闭合符-->
                <foreach item="item" index="index" collection="symbol" open="" separator="and" close="">
                    ${item.key} <![CDATA[${item.compare}]]> #{item.value}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="order !=null">
                order by <include refid="keyId" /> ${order}
            </when>
            <otherwise>
                order by <include refid="keyId" /> desc
            </otherwise>
        </choose>
        <if test="limiting!=null  " >
            <choose>
                <when test="offset!=null">
                    limit ${offset},${limiting}
                </when>
                <otherwise>
                    limit ${limiting}
                </otherwise>
            </choose>
        </if>
    </select>
    <!--查询总条数-->
    <select id="getCount" resultType="java.lang.Integer" >
        select
        count(1)
        from <include refid="tableName" />
        <where>
            <!--判断是否是equals-->
            <if test="equals!=null">
                and
                <!--open 表示起始符,separator 表示连接符,close 表示闭合符-->
                <foreach item="item" index="index" collection="equals" open="" separator="and" close="">
                    ${index} = #{item}
                </foreach>
            </if>
            <!--判断是否是noEquals-->
            <if test="noEquals!=null">
                and
                <!--open 表示起始符,separator 表示连接符,close 表示闭合符-->
                <foreach item="itemNo" index="indexNo" collection="noEquals" open="" separator="and" close="">
                    ${indexNo} <![CDATA[<>]]> #{itemNo}
                </foreach>
            </if>
            <!--判断是否是whereIn-->
            <if test="whereIn!=null">
                and <include refid="keyId" /> in
                <foreach item="item" index="index" collection="whereIn" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--判断是否有符号查询-->
            <if test="symbol!=null">
                and
                <!--open 表示起始符,separator 表示连接符,close 表示闭合符-->
                <foreach item="item" index="index" collection="symbol" open="" separator="and" close="">
                    ${item.key} <![CDATA[${item.compare}]]> #{item.value}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
