<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID3" version="2.5">
  <display-name>js_jsp_utf8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestPay</servlet-name>
    <servlet-class>com.corefire.action.TestPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPay</servlet-name>
    <url-pattern>/testPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestNative</servlet-name>
    <servlet-class>com.corefire.action.TestNativeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestNative</servlet-name>
    <url-pattern>/testNative</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestJS</servlet-name>
    <servlet-class>com.corefire.action.TestJSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJS</servlet-name>
    <url-pattern>/testJS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestJSPay</servlet-name>
    <servlet-class>com.corefire.action.TestJSPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJSPay</servlet-name>
    <url-pattern>/testJSPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestPayResult</servlet-name>
    <servlet-class>com.corefire.action.TestPayResultSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPayResult</servlet-name>
    <url-pattern>/testPayResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestPayResultQuery</servlet-name>
    <servlet-class>com.corefire.action.TestPayResultQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPayResultQuery</servlet-name>
    <url-pattern>/testPayResultQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestQuery</servlet-name>
    <servlet-class>com.corefire.action.TestQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestQuery</servlet-name>
    <url-pattern>/testQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestRefund</servlet-name>
    <servlet-class>com.corefire.action.TestRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRefund</servlet-name>
    <url-pattern>/testRefund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestRefundQuery</servlet-name>
    <servlet-class>com.corefire.action.TestRefundQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRefundQuery</servlet-name>
    <url-pattern>/testRefundQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestReverse</servlet-name>
    <servlet-class>com.corefire.action.TestReverseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestReverse</servlet-name>
    <url-pattern>/testReverse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestClose</servlet-name>
    <servlet-class>com.corefire.action.TestCloseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestClose</servlet-name>
    <url-pattern>/testClose</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestSign</servlet-name>
    <servlet-class>com.corefire.action.TestSignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSign</servlet-name>
    <url-pattern>/testSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestBill</servlet-name>
    <servlet-class>com.corefire.action.TestBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestBill</servlet-name>
    <url-pattern>/testBill</url-pattern>
  </servlet-mapping>
</web-app>